<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style='background-color:#fff;'>
      <div style='background-color:#fff;' data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="font-size:30px" style="background-color:#ff9618;" data-moreinfo="Tweets from MYOB"></div>
      <i class="icon-twitter icon-background"></i>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="something" data-view="Text" data-title="some other text"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="jobs" data-view="List" data-unordered="true" data-title="Current Jobs" data-moreinfo="where do you want to work today?"></div>
    </li>


    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="What's cool?" data-text="Put the most interesting thing happening here!" data-moreinfo="yay, more text..."></div>
    </li>



<iframe width="854" height="480" src="https://www.youtube.com/embed/a38oYlrREYI" frameborder="0" allowfullscreen></iframe>


    <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="iframe" data-view="iframe" data-src="https://www.youtube.com/watch?v=a38oYlrREYI">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/a38oYlrREYI" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>

    <li data-row="4" data-col="3" data-sizex="4" data-sizey="1" onclick="location.href='https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt';">
      <div data-id="youtube_video_views" data-view="List" data-title="YouTube Views" style="background-color: #c0392b"></div>
      <i class="icon-youtube icon-background"></i>
    </li>




  </ul>

  <span data-id="youtube" data-view="Youtube" data-title="youtube" style="padding: 0px"></span>

</div>